<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f98a1bc-8f02-40a8-a1c6-1c1feabf8322/resourcegroups/pap-members/providers/Microsoft.Web/sites/API-PrototipoGestionPAP20250211015036</ResourceId>
    <ResourceGroup>pap-members</ResourceGroup>
    <ApiResourceId>/subscriptions/2f98a1bc-8f02-40a8-a1c6-1c1feabf8322/resourceGroups/pap-members/providers/Microsoft.ApiManagement/service/API-PrototipoGestionPAPAzureApi/apis/API-PrototipoGestionPAP</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-prototipogestionpap20250211015036.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>dce625ef-be55-458c-836f-a7a2dacf603e</ProjectGuid>
    <MSDeployServiceURL>api-prototipogestionpap20250211015036.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>API-PrototipoGestionPAP20250211015036</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>